ga_example
*.exe
*.out
*.app

/build/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
.history/

__pycache__/
*.py[cod]
.ipynb_checkpoints/

.idea/
cmake-build-*/
*.iws
*.iml
*.ipr

.DS_Store
Thumbs.db

.venv/
venv/
env/
myenv/
myvenv/
