ga_example
*.exe
*.out
*.app

/build/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
.history/

__pycache__/
*.py[cod]
.ipynb_checkpoints/

.idea/
cmake-build-*/
*.iws
*.iml
*.ipr

.DS_Store
Thumbs.db

.venv/
venv/
env/
myenv/
myvenv/

*.mp4
*.gif

visualizations/


##### LaTeX #####
## Core LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.pdf

## Bibliography files
*.bbl
*.blg

## Indexing files
*.idx
*.ilg
*.ind

## List of figures/tables
*.lof
*.lot

## Modern LaTeX (biblatex)
*.bcf
*.run.xml